<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container p-3 ">
    <div class="card">
        <div class="card-header"> Lists des patients</div>
        <div class="card-body">
            <form method="get" th:action="@{index}">
                <label>keyword</label>
                <input type="text" name="keyword" th:value="${keyword}"></input>
                <button type="submit" class="btn btn-outline-info">Chercher</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Malade</th>
                    <th>score</th>
                </tr>
                <tr th:each="p:${listPatients}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nom}"></td>
                    <td th:text="${p.malade}"></td>
                    <td th:text="${p.score}"></td>
                    <td>
                        <a  th:href="@{delete(id=${p.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </thead>
            </table>
            <ul class="nav nav-pills">
                <li  th:each="value,item:${pages}">
                    <a
                       th:text="${item.index}"
                       th:href="@{/index(page=${item.index},keyword=${keyword})}"
                       th:class="${currentPage==item.index ? 'btn btn-info ms-2 ':'btn btn-outline-info ms-2'}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>